.logged-in {
  position: relative;
}

@media (max-width: 782px) {
  .logged-in {
    top: 0px;
  }
}

@media (max-width: 600px) {
  .logged-in {
    position: static;
  }
}

/* HP POPUP MODAL */

#hpmodal {
  background: #ffffffbf;
  .modal-header, .modal-footer, .modal-body {
    border: 0;
    text-align: center;
    margin: 0 auto;
    color: #878787 !important;
  }
  .modal-footer .btn {
    background: #68e6d1;
    color: #878787;
    transition: .2s all;
    &:hover {
      transform: scale(1.1);
    }
  }
}

/****************************footer*****************************/

.social {
  width: 100%;
  height: 25px;
  border-bottom: 2px dashed #C6C6C6;
  margin: 100px 0;
}

.social-content {
  width: 326px;
  margin: 0 auto;
  background: #fff;
  padding-left: 1px;
  img {
    &:first-child {
      margin-right: 10px;
      padding-bottom: 7px;
    }
    &:last-child {
      margin-left: 13px;
      padding-bottom: 7px;
    }
  }
  a {
    background: #C6C6C6;
    width: 33px;
    height: 33px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
    text-align: center;
    background: #C6C6C6;
    width: 33px;
    height: 33px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 5px;
    text-align: center;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.fa {
  color: #fff;
  font-size: 2em;
  padding-top: 7px;
}

.footer-content {
  background: url("../images/eee.png") #F9F8DF center top;
  background-size: cover;
  width: 100%;
  > img {
    width: 20%;
    position: relative;
    height: 277px;
    object-fit: cover;
  }
}

.footer-box {
  max-width: 930px;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
}

.row {
  color: #878790;
  h3 {
    font-size: 2.5em;
    display: inline;
    text-transform: uppercase;
  }
}

.col-sm-4 p {
  display: inline;
  font-size: 1.3em;
}

.col-sm-2 ul {
  margin-top: 25%;
}

.row ul li {
  list-style-type: none;
  border-bottom: 1px dashed #C6C6C6;
  padding: 5px 0;
  a {
    padding: 7px 0;
    text-decoration: none;
    font-size: 1.3em;
    color: #878790;
  }
}

.col-sm-33 {
  ul {
    margin-top: 7%;
    li {
      width: 170px;
      font-size: 1.3em;
      a {
        font-size: 1em;
      }
    }
  }
  .noborder {
    padding: 3px 0;
    border-bottom: none;
  }
}

.col-sm-3 img {
  width: 97%;
}

.col-sm-33 {
  width: 22%;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}

.col-sm-4 {
  margin-left: 23px;
  padding-bottom: 30px;
}

.kontakt .col-sm-4 {
  margin-left: 0px;
  p {
    display: block;
  }
}

.fadeout .social img {
  margin-top: -4px;
}

/***************************************  whiter *************************************/

/* respo footer */
@media (max-width: 767px) {
  .footer-box {
    .col-sm-4, .col-sm-2, .col-sm-33, .col-sm-3 {
      margin: 0;
      width: 100%;
      text-align: center;
    }
  }
  .col-sm-2 ul {
    margin-top: 10px;
  }
  .col-sm-33 ul {
    li {
      width: 100%;
      font-size: 1.3em;
    }
    width: 100%;
    margin-top: 10px;
  }
  .foot-adress {
    width: 100%;
    margin-top: 10px;
  }
  .col-sm-3 img {
    width: 250px;
  }
  .footer-box .col-sm-4 {
    padding-right: 40px;
    padding-left: 20px;
  }
}

.row {
  margin-right: 0;
  margin-left: 0;
}

@media (max-width: 450px) {
  .col-sm-3 img {
    width: 170px;
  }
}
