html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  &:before, &:after {
    box-sizing: inherit;
  }
}

.super-font, .h222 {
  /* font-family: 'Nanum Brush Script', cursive; */
  font-family: 'Amatic SC', cursive;
  font-size: 35px !important;
}
 
body {
  font-family: 'Roboto Mono', monospace, Verdana;
  font-size: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #fff;
  width: 100%;
}

main {
  width: 100%;
}

header {
  background: url("../images/header.jpg");
  height: 100vh;
  width: 100%;
  display: table;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    background: url("../images/farby_lasky.png");
    background-size: cover;
    font-size: 8em;
    margin: auto;
    width: 330px;
    text-align: center;
    padding-left: 3vw;
    margin-top: 37vh;
    color: #000;
    text-indent: -99999px;
    /* color:#878787; */
    /* font-family: 'Lekton', sans-serif; */
    font-family: 'Amatic SC', cursive;
  }
}

.logo {
  background: url("../images/logo-black.png") top center no-repeat;
  background-size: cover;
  width: 148px;
  height: 100px;
  position: absolute;
  top: 30px;
  left: 30px;
}

header {
  > p, .main > p {
    left: 35px;
    top: 135px;
    color: #878787;
    font-size: 14px;
    position: absolute;
  }
}

.logo h1 {
  text-indent: -9999px;
}

.language {
  position: absolute;
  top: 30px;
  right: 30px;
  a {
    width: 25px;
    height: 20px;
    display: inline-block;
    text-align: center;
    padding-top: 3px;
    font-size: 1em;
    color: #000;
  }
  .activ, a:hover {
    border: 1px solid black;
    text-decoration: none;
  }
}

.uvodnav {
  background: #39a89594;
  display: table;
  margin: 0 auto;
  margin-top: 5px;
  border: 1px solid #fff;
  ul {
    text-align: center;
    padding: 30px 60px;
    margin: 0;
    li {
      list-style-type: none;
      display: inline;
      color: #fff;
      font-size: 3em;
      text-align: center;
      margin-right: 30px;
      &:last-child {
        margin-right: 0px;
      }
      a {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.hp {
  width: 100%;
  display: block;
  height: auto;
}

.menu-box {
  float: left;
  display: block;
  width: 100%;
  margin-top: 7px;
}

.noscroll {
  overflow-x: hidden;
  overflow-y: hidden;
}

.padding {
  float: left;
  display: block;
  width: 33.33333333%;
  &:nth-child(1), &:nth-child(2) {
    padding-right: 7px;
  }
}

.menu-box {
  h2, p, a {
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
  h2 {
    height: 97px;
    padding: 50px 0 10px 0;
    text-transform: uppercase;
    font-size: 3.3em;
    margin: 0 auto;
  }
}

.h2border {
  width: 150px;
  font-size: 30px;
  height: 2px;
  display: block;
  text-align: center;
  margin: -35px auto 20px;
  font-family: Verdana !important;
}

.relativ {
  position: relative;
}

.menu-box .stitok {
  z-index: 5;
  margin: -55px auto 0;
  width: 110px;
  height: 110px;
  background: #FFE782;
  border-radius: 50%;
  padding-top: 39px;
  font-size: 2em;
  color: #878787;
  text-transform: uppercase;
  text-align: center;
}

.menu-box1 {
  background: url("../images/navbox1.jpg");
  background-size: cover;
  h2 {
    width: 120px;
  }
}

.menu-box p {
  font-size: 2em;
  padding: 20px 0 15% 0;
  text-align: center;
}

.menu-box1 {
  .shadow1 {
    width: 100%;
    margin-right: 7px;
    position: relative;
    .color {
      background: #ffe78278;
      transition: .5s;
      width: 100%;
      position: absolute;
      bottom: 0;
      height: 0px;
    }
  }
  a:hover .color {
    height: 100% !important;
  }
}

.menu-box2 {
  .stitok {
    background: #fbdbde;
    padding-top: 30px;
  }
  background: url("../images/navbox2.jpg");
  background-size: cover;
  h2 {
    width: 260px;
    margin: 0 auto;
  }
  .shadow1 {
    width: 100%;
    position: relative;
    .color {
      background: #fbdbde57;
      transition: .5s;
      width: 100%;
      position: absolute;
      bottom: 0;
      height: 0px;
    }
  }
  a:hover .color {
    height: 100% !important;
  }
}

.menu-box3 {
  .stitok {
    background: #68e6d1;
    padding-top: 30px;
  }
  background: url("../images/navbox3.jpg");
  background-size: cover;
  h2 {
    width: 260px;
  }
  .shadow1 {
    margin-top: -1px;
    width: 100%;
    position: relative;
    .color {
      background: #68e6d163;
      transition: .5s;
      width: 100%;
      position: absolute;
      bottom: 0;
      height: 0px;
    }
  }
  a:hover .color {
    height: 100% !important;
  }
}

.content-text {
  display: block;
  color: #878787;
  padding: 30px 70px;
  h1 {
    font-size: 3em;
    display: inline;
  }
  p {
    display: inline;
    font-size: 1.5em;
    line-height: 2em;
  }
}

/* media queries */

@media (max-width: 900px) {
  	/* header {
      height: 400px;;
  	}
  	header h2 {
      font-size: 6em;
      margin: auto;
      text-align: center;
      margin-top: 90px;
      color: #fff;
  } */
  .logo {
    width: 104px;
    background-size: cover;
    height: 70px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .language {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  header {
    > p, .main > p {
      left: 25px;
      top: 95px;
      font-size: 11px;
    }
  }
  .uvodnav {
    margin-top: 70px;
    ul {
      text-align: center;
      padding: 15px 30px;
      margin: 0;
      li {
        font-size: 2em;
      }
    }
  }
  .menu-box {
    .toscale {
      transform: scale(0.7) !important;
      &:hover {
        transform: scale(0.9) !important;
      }
    }
    .stitok {
      z-index: 5;
      margin: -55px auto 0;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      padding-top: 39px;
      font-size: 1.5em;
      padding-top: 25px;
    }
  }
  .menu-box1 .stitok {
    padding-top: 34px;
  }
  .menu-box2 h2 {
    width: 232px;
    margin: 0 auto;
  }
  .menu-box .toscale {
    margin-top: -10px;
  }
}

@media (max-width: 700px) {
  .index-flex {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  header {
    height: 70vh;
  }
  .uvodnav {
    margin-top: 35px;
  }
  header h2 {
    font-size: 6em;
    margin: 0 auto;
    text-align: center;
    height: 89px;
  }
  .padding {
    width: 100%;
    padding: 0 !important;
    margin-top: 60px;
  }
  .uvodnav ul li {
    font-size: 1.6em;
  }
  .content-text {
    display: block;
    color: #878787;
    padding: 30px 30px;
  }
}

@media (max-width: 500px) {
  header h2 {
    /* margin-top: 120px; */
    margin-top: 120px;
    font-size: 4em;
    width: 200px;
    height: 54px;
  }
  .uvodnav {
    ul li {
      font-size: 1.6em;
      width: 100%;
      display: block;
      text-align: center;
      padding: 3px;
    }
    margin-top: 25px;
  }
  .menu-box .toscale {
    margin-top: -30px;
  }
  .social-content {
    transform: scale(0.8);
  }
}

@media (max-width: 350px) {
  header h2 {
    font-size: 3em;
  }
  .social-content {
    transform: scale(0.7);
    margin-left: -10px !important;
  }
}

@media (max-width: 500px) {
  .menu-box .stitok {
    margin: -48px auto 0;
  }
}

#wpadminbar {
  display: none;
}
